<h1>Interns of Trimble Company</h1>

<div class="sort-container">
    <div class="sort-div">
        <button mat-raised-button color="primary" (click)="sortAscending()" [disabled]=" sortButton==='ascending'">Ascending</button>
        <button mat-raised-button color="primary" (click)=" sortDescending()" [disabled]="sortButton==='descending'">Descending</button>
    </div>
</div>

<div class="intern-container">
    <div class="intern-div " *ngFor="let intern of interns ">
        <mat-card class="intern-card">
            <mat-card-header class="card-header">
                <p>{{intern.firstName}} {{intern.lastName}}</p>
            </mat-card-header>

            <mat-card-content>
                <p>{{intern.age}}</p>
                <p>{{intern.dateOfBirth}}</p>
                <p>{{intern.gender}}</p>
                <p>{{intern.city}}</p>
                <p>{{intern.phoneNumber}}</p>
            </mat-card-content>

            <mat-card-footer class="card-buttons ">

                <div>
                    <button mat-icon-button (click)="editIntern(intern.id)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button (click)="deleteIntern(intern.id)"><mat-icon>delete</mat-icon></button>
                </div>
            </mat-card-footer>

        </mat-card>
    </div>
    <app-add-intern></app-add-intern>
</div>

<app-edit-intern></app-edit-intern>