.sort-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .sort-div {
        margin: 10px;
        button {
            margin: 0 5px;
        }
    }
}

.intern-card {
    width: 250px;
    height: 250px;
    background-color: rgba(250, 176, 126, 0.864);
}

.intern-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .intern-div {
        margin: 20px;
    }
}

.mat-card {
    display: flex;
    flex-direction: column;
}

.card-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.mat-card-content {
    flex-grow: 1;
    overflow: auto;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

h1 {
    text-align: center;
    margin-top: 10px;
}