<div class="container" *ngIf="internIdExists">
    <h1>Edit an intern</h1>
    <form [formGroup]="formGroup" class="edit-intern-form">

        <label class="label-style" for="inputFirstName">First Name</label>
        <mat-form-field>
            <input matInput name="inputFirstName" formControlName="firstName">
        </mat-form-field>

        <label class="label-style" for="inputLastName">Last Name</label>
        <mat-form-field>
            <input matInput name="inputLastName" formControlName="lastName">
        </mat-form-field>

        <label class="label-style" for="inputAge">Age</label>
        <mat-form-field>
            <input matInput name="inputAge" formControlName="age">
        </mat-form-field>
        <label class="label-style" for="inputDate">Date of birth</label>
        <mat-form-field>
            <input matInput name="inputDate" formControlName="dateOfBirth">
        </mat-form-field>

        <label class="label-style" for="inputGender">Gender</label>
        <mat-radio-group aria-label="Select an option" name="inputGender" formControlName="gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>

        <label class="label-style" for="inputCity">City</label>
        <mat-form-field>
            <input matInput name="inputCity" formControlName="city">
        </mat-form-field>

        <label class="label-style" for="inputPhoneNumber">Phone Number</label>
        <mat-form-field>
            <input matInput name="inputPhoneNumber" formControlName="phoneNumber">
        </mat-form-field>

        <button type="submit" mat-button [disabled]="formGroup.invalid" (click)="editIntern()">Edit</button>

    </form>
</div>