<div class="container">
    <h1>Add an intern to the company </h1>
    <form [formGroup]="formGroup" class="add-intern-form">

        <label class="label-style" for="inputFirstName">First Name</label>
        <mat-form-field>
            <input matInput name="inputFirstName" formControlName="firstName">
        </mat-form-field>


        <p class="error" *ngIf="firstNameError">The first name must have at least three characters</p>


        <label class="label-style" for="inputLastName">Last Name</label>
        <mat-form-field>
            <input matInput name="inputLastName" formControlName="lastName">
        </mat-form-field>
        <p class="error" *ngIf="lastNameError">The last name must have at least three characters</p>

        <label class="label-style" for="inputAge">Age</label>
        <mat-form-field>
            <input matInput name="inputAge" formControlName="age">
        </mat-form-field>


        <label class="label-style" for="inputDate">Date of birth</label>
        <mat-form-field>
            <input matInput name="inputDate" formControlName="dateOfBirth">
        </mat-form-field>

        <label class="label-style" for="inputGender">Gender</label>
        <mat-radio-group aria-label="Select an option" name="inputGender" formControlName="gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>

        <label class="label-style" for="inputCity">City</label>
        <mat-form-field>
            <input matInput name="inputCity" formControlName="city">
        </mat-form-field>
        <p class="error" *ngIf="cityError">The city must have at least three characters</p>

        <label class="label-style" for="inputPhoneNumber">Phone Number</label>
        <mat-form-field>
            <input matInput name="inputPhoneNumber" formControlName="phoneNumber">
        </mat-form-field>



        <button type="submit" mat-button (click)="addIntern()">Add</button>

    </form>
</div>